*.orig
*.~
TclTk/*
arch/*
arch/i386-CYGWIN_NT-6.11
obj/*
sad/*
.DS_Store
/CVS
.#*
*.enc
*.exe
src/sim/CVS/Entries
mk/CVS/Entries
Packages/CVS/Entries
src/CVS/Entries
src/inc/CVS/Entries
src/gdtoa/*
src/.DS_Store
src/gdtoa/test/*
Packages/Canvas.n_0
Packages/#Canvas.n#
*.~*
*_*
src/.DS_Store

KBFrame/CVS/Root~
*.~

Packages/Optics.n~

*.n_1~

*.n~

src/depend-cache-rG3OJg0z7H6C

src/depend-cache-Sa69PniUmxg3
