*.orig
*.~
/TclTk
/obj
sad/*
.DS_Store
/CVS
.#*

src/sim/CVS/Entries

mk/CVS/Entries

Packages/CVS/Entries

src/CVS/Entries

src/inc/CVS/Entries

Packages/.DS_Store

Packages/.DS_Store

Packages/.DS_Store
