*.orig
*.*~
TclTk/*
arch/*
obj/*
sad/*
contrib/BBBrem_dir/*
.DS_Store
.svn/*
/CVS
.#*
\#*
*.a
*.so
*.enc
*.exe
src/sim/CVS/Entries
Packages/CVS/Entries
src/CVS/Entries
src/inc/CVS/Entries
src/gdtoa
src/.DS_Store
mk/CVS/Entries
Packages/#Canvas.n#
*.~*
*_0
*_0.f
src/.DS_Store
KBFrame/CVS/Root~
*.~
Packages/Optics.n~
*.n_1~
*.n~
*.gitignore#
*.sad~
script/help2HTML2.sad~
Documents.zip
src/cod.sad
src/errmsg,f
src/tfsk.f
*.mine
*.r6473
*.r6448
*.bak
bin/HostArch~
contrib/BBBrem_dir
contrib/BBBrem_dir/*
Library/lib/*
Library/lib/App/*
Library/lib/App/LogBrowser/*
